* {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 

}

html, body {
    width: 100%; 
    height: 100%;    
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* button {
    margin: 0px; 
    padding: 0px; 
    border: none; 
    cursor: pointer; 
} */

.wrapper {
    width: 540px; 
    padding: 60px 80px; 
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px 0px #0068FF40; 
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h1 {
    color: #0068FF; 
    font-size: 32px; 
    font-weight: 700; 
    margin-bottom: 40px; 
}

.user__information {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.user__info {
    width: 380px; 
    height: 60px; 
    background-color: white;
    border-radius: 7px;
    border: 1px solid #D2D2D2; 
    padding: 18px;
    margin-top: 20px; 
}

.user__info::placeholder {
    color: #797979; 
    font-size: 16px;
}

.phone__wrapper {
    width: 100%; 
    height: 40px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0; 
}

.phone__number {
    width: 100px; 
    height: 40px; 
    border-radius: 7px;
    border: 1px solid #D2D2D2; 
    font-size: 16px; 
    text-align: center; 
}

.phone__divided__line {
    width: 11px; 
    border-top: 1px solid black; 
}

.authentication {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.send__authentication {
    width: 100%; 
    height: 40px;
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
}

.authentication__number, .time {
    color: #0068FF; 
    font-size: 18px; 
    margin-right: 21px; 
}

.timer {
    width: 100%; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 0; 
}

.time  {
    text-align: right; 
    width: 80px; 
}
.authentication__number__btn , .submit__authentication__btn  {
    border: 1px solid #d2d2d2; 
    border-radius: 7px; 
    width: 120px;
    height: 40px; 
    text-align: center; 
    font-size: 16px; 
    font-weight: 400; 
    color: #D2D2D2; 
    background-color: white;
}


#region {
    width: 380px; 
    height: 60px; 
    padding: 18px 15px; 
    background-color: white;
    border: 1px solid #D2D2D2; 
    border-radius: 7px;
    color: #797979; 
    font-size: 16px; 
}

.gender__wrapper {
    width: 100%; 
    height: 40px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    font-size: 16px; 
    color: black; 
}

.gender :nth-child(2) {
    margin-right: 30px; 
}


.gender__radio {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
}      

hr {
    width: 100%; 
    border: 1px solid #E6E6E6; 
    margin: 30px 0; 
}


.signup__btn {
    width: 380px; 
    height: 75px; 
    margin-bottom: 30px; 
    background-color: white;
    border-radius: 10px;
    border: 1px solid #D2D2D2; 
    color: #D2D2D2; 
    font-size: 18px; 
    font-weight: 400; 
}

.error__message {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: red; 
    font-size: 12px;
}